/* Animal Button */
a {
    text-decoration: none;
    color: inherit;
}
.animal-button {
    display: block;
    margin: 15px auto;
    height: 80px;
}


.animal-button:hover > .animal-description, .animal-button:focus > .animal-description {
    border: 2px solid var(--ion-color-warning);
}

.animal-button > .animal-image {
    background-color: var(--ion-color-secondary);
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 10;
    border: solid 2px black;
    border-radius: 100%;
    display: flex;
}

.animal-button > .animal-image > img {
    height: 75px;
    width: auto;
    position: relative;
    left: -5px;
    top: -2px;
    image-rendering: pixelated;

}

.animal-button > .animal-description {
    background-color: var(--ion-color-primary);
    border: solid 2px black;
    border-radius: 0px;
    box-shadow: 1px 1px 0px var(--ion-color-medium), 1px 0px 0px var(--ion-color-medium), 0px 1px 0px var(--ion-color-medium), inset 4px 4px 0px rgba(255, 255, 255, 0.5), inset -4px -4px 0px rgba(0, 0, 0, 0.5);
    height: 80px;
    margin-left:40px;
    display:flex;
    align-content: middle;
    padding: 15px;
    position: relative;
    top:-80px;
}

.animal-button > .animal-description .animal-titles {
    color: white;
    text-shadow: 1px 1px 0px var(--ion-color-medium), 1px 0px 0px var(--ion-color-medium), 0px 1px 0px var(--ion-color-medium);
    margin-left: 50px;
    align-self: center;
    width: 100%;
}

.animal-button > .animal-description .animal-titles p {
    line-height: 100%;
}

.animal-button > .animal-description .animal-titles > h3, .animal-button > .animal-description .animal-titles > p  {
    margin: 0;
    padding: 0;
}