<ion-content [fullscreen]="true" class="background-image" padding>

  <app-page-title title="Enregistrer votre Animal" backUrl="/start"></app-page-title>

  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>

      <img *ngIf="pictureURL" [src]="pictureURL" />
      <!-- Animal input -->
      <ion-item>
        <ion-label position="floating">Nom de l'animal</ion-label>
        <ion-input [(ngModel)]="animalName" inputmode="text" required="true" name="animalName"></ion-input>
      </ion-item>




      <ion-item>
        <ion-label position="floating">Type de votre animal</ion-label>
        <ion-select [(ngModel)]="animalType" required="true" name="animalType" okText="choisir" cancelText="retour">
          <ion-select-option *ngFor="let animal of animals">{{animal.type}}</ion-select-option>
        </ion-select>
      </ion-item>

    </ion-list>
    <div class="ion-padding">
      <ion-button type="submit" expand="block">Valider</ion-button>
      <ion-text color="danger" *ngIf="loginError"> C'est pas possible</ion-text>

    </div>
  </form>
</ion-content>