<ion-header>

</ion-header>

<ion-content [fullscreen]="true" class="background-image" padding>

  <ion-img  id="officiallogo" src="../../assets/text-images/logofficial.png"></ion-img>
  <ion-button size="large" color="primary" expand="block" routerLink="/login">Se connecter</ion-button>
  <ion-button size="large" expand="block" color="light" routerLink="/register">S'enregistrer</ion-button>

  <ion-button size="large" expand="block" color="success" routerLink="/home">Home</ion-button>
  <p>à enlever pour la prod</p>

</ion-content>
