



<ion-content [fullscreen]="true" class="background-image" padding>

  <ion-img  id="logotext" src="../../assets/text-images/logo-text.png"></ion-img>

  <app-page-title title="Se connecter" backUrl="/start"></app-page-title>

  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <ion-list>
      <!-- Username input -->
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input
          inputmode="text"
          #pseudo="ngModel"
          required="true"
          name="pseudo"
          [(ngModel)]="authRequest.pseudo"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the username is invalid -->
      <ion-item lines="none" *ngIf="pseudo.invalid && pseudo.touched">
        <ion-text color="danger">Username is required.</ion-text>
      </ion-item>
  
      <!-- Password input -->
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="authRequest.password"
        ></ion-input>
      </ion-item>
  
      <!-- Error message displayed if the password is invalid -->
      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Password is required.</ion-text>
      </ion-item>
    </ion-list>
  
    <div class="ion-padding">
      <ion-button type="submit" expand="block">Connexion</ion-button>
    
      <!-- Error message displayed if the login failed -->
      <ion-text color="danger" *ngIf="loginError"
        >Username or password is invalid.</ion-text
      ><br>
      <a routerLink="/register">Créer un compte</a>
  
    </div>
  </form>


<!-- <form (submit)="login()">
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked" autofocus >Pseudonyme</ion-label>
        <ion-input name="pseudo"  required maxlength=12 minlength=4  [(ngModel)]="authRequest.pseudo"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" >Mot de passe</ion-label>
        <ion-input name="password" required type="password"  [(ngModel)]="authRequest.password"></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block">Connexion</ion-button>
      <a routerLink="/register">Créer un compte</a>
    </ion-card-content>
  </ion-card>
</form> -->

</ion-content>
