<ion-header>
  <ion-toolbar>
    <ion-title>Type</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!--<app-page-title [title]="'Type'"></app-page-title>-->

<ion-content [fullscreen]="true" class="background-image" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    {{animal.type}}
  </div>

  <div id="container">
    <ion-button size="large" color="primary" expand="block" routerLink="./edit" >editer un animal</ion-button>
    
  </div>
</ion-content>
