<ion-header>
  <ion-toolbar>
    <ion-title>Animals</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<app-page-title [title]="'Animaux'"></app-page-title>

<ion-content [fullscreen]="true" class="background-image" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button size="large" color="primary" expand="block" routerLink="./type" >Voir un animal</ion-button>
    
  </div>
</ion-content>
