<app-page-title [title]="'Titre de la page custom'" [backUrl]="'/home'"></app-page-title>

<ion-content [fullscreen]="true" class="background-image" padding>

    <ion-button routerLink="/home">Go to Home Page</ion-button>

    <h1>Title 1</h1>
    <h2>Title 2</h2>
    <h3>Title 3</h3>
    <h4>Title 4</h4>

    <ion-button size="large" color="primary" expand="block">Bouton primary</ion-button>
    <ion-button size="large" expand="block" color="success">Bouton success</ion-button>
    <ion-button size="large" expand="block" color="warning">Bouton warning</ion-button>
    <ion-button size="large" expand="block" color="danger">Bouton danger</ion-button>
    <ion-button size="large" expand="block" color="light">Bouton light</ion-button>

    <h4>Animal Button Component</h4>
    <app-animal-button [animal]="cat"></app-animal-button>
    <app-animal-button [animal]="cow"></app-animal-button>

    <h4>Animal Type Button Component</h4>
    <app-animal-type-button [animal]="dog"></app-animal-type-button>

    <ion-card>
      <ion-card-header>
        
      </ion-card-header>
      <ion-card-content>

        <ion-card-title>Card Title</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis repellendus impedit optio. Magni repellat sit voluptatibus vero atque adipisci, corrupti sed incidunt, nihil facere a quidem nisi non quasi assumenda.

        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <app-statistic text='ATC' value='12'></app-statistic>
            </ion-col>
            <ion-col size="4"><app-statistic text='NIV' value="42" color='danger'></app-statistic></ion-col>
            <ion-col size="4"><app-statistic text='DEF' value="22" color='success'></app-statistic></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <app-card-list [list]="players"></app-card-list>

    <hr>

    <!-- Formulaire -->
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked" autofocus>Pseudonyme</ion-label>
          <ion-input  maxlength=12 minlength=4></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked" >Mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Répétez le mot de passe</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button type="submit" expand="block">Connexion</ion-button>
        <a href="#">Créer un compte</a>
      </ion-card-content>
    </ion-card>
</ion-content>