/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


/* Custom SCSS */
:root {
    --font-s: 18px;
    --font-m: 24px;
    --font-l: 28px;
    --font-xl: 36px;

    --bg-color: lightyellow;
}

@font-face {
    font-family: 'Pokemon Fire Red';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/pokemon_fire_red.woff') format('woff'),
        url('./assets/fonts/pokemon_fire_red.ttf') format('truetype');
}

* {
    font-family: 'Pokemon Fire Red', monospace;
    --ion-font-family: 'Pokemon Fire Red', monospace;
    letter-spacing: 0.01em;
    font-size: var(--font-m);
}

#background-content {
    background-color: var(--bg-color);
}

h1, h2, h3 {
    text-transform: uppercase;
    line-height: 100%;
}

h1 { font-size: var(--font-xl); }
h2 { font-size: var(--font-xl); }
h3 { font-size: var(--font-l); }

h4 {
    font-size: var(--font-m);
    line-height: 100%;
}

.background-image {
    --background: url("./assets/background/bg_vert_grad.png") 0  0/100% 100% no-repeat;
}


/* Ionic components customization */
ion-app {
    --ion-background-color: var(--bg-color);
}

ion-content {
    --padding-x : 10px;
    --padding-y : 10px;


    --padding-start: var(--padding-x);
    --padding-end: var(--padding-x);
    --padding-top: var(--padding-y);
    --padding-bottom: var(--padding-y);
}

ion-toolbar {
    --background: transparent;
    --border-width: 0;
}

ion-button {
    --border-color: black;
    --border-radius: 0px;
    --border-style: solid;
    --border-width: 2px;
    --box-shadow: 1px 1px 0px var(--ion-color-medium), 1px 0px 0px var(--ion-color-medium), 0px 1px 0px var(--ion-color-medium), inset 4px 4px 0px rgba(var(--ion-color-medium-rgb), 0.5), inset -4px -4px 0px rgba(var(--ion-color-light-contrast-rgb), 0.5);

    --padding-bottom: 10px;
    --padding-top: 10px;
    --padding-start: 20px;
    --padding-end: 20px;

    --background-activated : var(--ion-color-secondary);
    --background-hover: var(--ion-color-secondary);
    --background-focused: var(--ion-color-secondary);

    margin-top: 10px;
    margin-bottom: 10px;

    font-size: var(--font-l);

    /* not working
    text-shadow: 1px 1px 0px var(--ion-color-medium), 1px 0px 0px var(--ion-color-medium), 0px 1px 0px var(--ion-color-medium);
    */
}

ion-list, .list-md {
    --background: #fff;
    background: #fff;
    padding: 0px;
}

ion-card {
    --background: #ffffff;
    
    box-shadow: 1px 1px 0px var(--ion-color-medium), 1px 0px 0px var(--ion-color-medium), 0px 1px 0px var(--ion-color-medium), inset 4px 4px 0px rgba(var(--ion-color-medium-rgb), 0.5), inset -4px -4px 0px rgba(var(--ion-color-light-contrast-rgb), 0.5);
    border: solid 1px black;

    margin-left : 0;
    margin-right: 0;
}

ion-card-content {
    color: black;
    font-size: var(--font-m);
}

ion-card-title {
    font-size: var(--font-xl);
    text-align: center;
}

ion-card-subtitle {
    text-align: center;
}

ion-item {
    --background: #ffffff;
}