<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="background-image" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img src="../../assets/text-images/logo-text.png"></ion-img>

  <div id="container">
    <ion-button routerLink="/components" >Go to Components Page</ion-button>
    <ion-button size="large" color="success" expand="block" >COMBATTRE</ion-button>
    <ion-button size="large" color="warning" expand="block" >CAPTURER</ion-button>
    <ion-button size="large" color="primary" expand="block"  routerLink="/profile" >Mon Compte</ion-button>
    <ion-button size="large" color="primary" expand="block"  routerLink="/animals" >Animadex</ion-button>
    <ion-button size="large" color="primary" expand="block"  routerLink="/users" >Classement</ion-button>
    <ion-button size="large" color="danger" expand="block" >SE DéCONNECTER</ion-button>

  </div>


  <div>
    <ion-button (click)="takePicture()">Take picture</ion-button>
    <img *ngIf="picture" [src]="picture.url" />
  </div>
</ion-content>
