<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home Page Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button routerLink="/components" >Go to Components Page</ion-button>
    <ion-button routerLink="/animals" >Animadex</ion-button>
    <ion-button routerLink="/profile" >Mon Compte</ion-button>
    <ion-button routerLink="/users" >Classement</ion-button>
  </div>
</ion-content>
