<ion-content [fullscreen]="true" class="background-image" padding>
  <ion-header collapse="condense">
    <ion-toolbar>
    </ion-toolbar>
  </ion-header>

  <ion-img id="home-image" src="../../assets/text-images/logo-text.png"></ion-img>

  <div id="container">
    <ion-button size="large" color="success" expand="block" routerLink="/fight">COMBATTRE</ion-button>
    <div>
      <ion-button size="large" color="warning" expand="block"  (click)="takePicture()">Capturer</ion-button>
      <!-- <img *ngIf="picture" [src]="picture.url" /> -->
    </div>
    <ion-button size="large" color="primary" expand="block" routerLink="/profile" >Mon Compte</ion-button>
    <ion-button size="large" color="primary" expand="block" routerLink="/animals" >Animadex</ion-button>
    <ion-button size="large" color="primary" expand="block" routerLink="/users" >Classement</ion-button>
    <hr>
    <ion-button (click)="logOut()" size="large" color="danger" expand="block">Se déconnecter</ion-button>
    <!-- <ion-button color="light" routerLink="/components" >Go to Components Page</ion-button>
    <ion-button color="light" routerLink="/capture" >Go to Capture page</ion-button> -->

  </div>
</ion-content>